CosatecaApp/migrations/
CosatecaApp/__pycache__/*
cosateca/__pycache__/*
chat/__pycache__/*
chat/migrations/__pycache__/*
cosateca/config.json
cosateca/static
/models_file.py
/models.py
*.log
.env
CosatecaApp/static/inicio.js