{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    {% bootstrap_css %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

        {% block title %}{% endblock title %}
</head>
<body>
    {% include 'header.html' %}
{% block body_data %}{% endblock body_data %}

{% block custom_js %}{% endblock custom_js %}
    {% include 'footer.html' %}
</body>
</html>