{% extends 'base.html' %}
{% block title %}
  <title>{{producto.nombre}}</title>
{% endblock title %}
{% block body_data %}
{% load static %}
<div class="container-detalles">
    <div class="row">
        <div class="col-12" style="display: flex; justify-content: end; font-size: 40px;margin-top: 5px;">
            {% if producto.idPropietario.nombreUsuario == request.session.usuario %}
                <i class="fa-solid fa-pencil" style="margin-right: 5px;"></i>                
            {% else %}
                <i class="fa-regular fa-heart" style="margin-right: 5px;"></i>
            {% endif %}
        </div>
        <div class="col-5 detallesProducto-izquierda text-center" style="margin-left: 10px;">
            {% if producto.fotoProducto != None %}
              <img class="card-img-top" src="http://127.0.0.1:9000/django-backend-dev-public/{{producto.fotoProducto}}" alt="Foto {{MEDIA_URL}}{{producto.nombre}}">
            {% else %}
              <img class="card-img-top" src="{% static 'default_profile_pic.png' %}" alt="Foto {{MEDIA_URL}}{{producto.nombre}}">
            {% endif %}
            <b style="font-size: 40px;">{{producto.nombre}}</b>
            <p>producto.valoracion</p>
            <p>Categoría/s: {{ categorias }}</p>
            <a href="" class="btn profile-button mb-4" >VALORAR</a>
        </div>
    </div>

</div>
{% endblock body_data %}
