<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <title>This is the Footer</title>
</head>
<body>
    <footer style="position: fixed; bottom: 0; width: 100%; background-color: #107F0E; padding: 5px;">
        <div class="footer-icons" style="display: flex; justify-content: space-around;"">
            <a href="/listados"><i class="far fa-heart"></i></a>
            <a href="/listado-chats"><i class="far fa-envelope"></i></a>
            <a href="/nuevoProducto"><i class="fa-solid fa-circle-plus"></i></a>
            <a href="#"><i class="far fa-bell"></i></a>
            <a href="/logrosEstadisticas"><i class="fa-solid fa-trophy"></i></a>
        </div>
    </footer>
</body>
