<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the Header</title>
</head>
<body>

<nav class="one-edge-shadow navbar navbar-light sticky-top navbar-expand-lg text-white">
    {% load static %}
    {% if request.session.usuario %}
    <div class="row">
        <div class="col-6" style="display: flex;padding: 0%;">
          <a class="navbar-brand ms-3 text-dark" style="margin-right: 0; padding-left: 5px;" href="/perfil/{{request.session.usuario}}">
            <div class="image-container">
              {% if request.session.usuarioFoto == None %}
                <img src="{% static 'default_profile_pic.png' %}" class="rounded-image">
              {% else %}
                <img src="http://127.0.0.1:9000/django-backend-dev-public/{{request.session.usuarioFoto}}" class="rounded-image">
              {% endif %}
            </div>
          </a>
        </div>
        <div class="col-6" style="display: flex;padding: 0%;">
            <a class="nav-link nombreUsuario-header" style="align-self: center;" href="/perfil/{{request.session.usuario}}">{{request.session.usuario}}</a>
        </div>
        <div class="col-6">
          <a class=" text-center" href="/"><img class="mx-auto d-block logo-header" src="{% static 'LOGO.jpg' %}"><span class="sr-only">(current)</span></a>
        </div>
      </div>
      
    {% else %}
    <div class="row" style="padding-left: 16px;">
        <div class="col-6" style="display: flex;">
            <a class="navbar-brand ms-3 text-dark" href="/#">
            <img src="{% static 'Default_profile_pic.png' %}" style="width:90px;height:90px;">
            <a class="nav-link" style="align-self: center;" href="/#">Invitado</a>
        </div>
        <div class ="col-6">
            <div class="nav-item actived-none d-lg-inline">
                <a class=" text-center " href="/#"><img class="mx-auto d-block logo-header" src="{% static 'LOGO.jpg' %}" style="width:250px;height:90px;margin-top: 15px;"><span class="sr-only">(current)</span></a>
            </div>    
        </div>
    </div>
    {% endif %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="display: contents;">
            <li class="nav-item active ">
                <a class="nav-link" href="/" style="color: #CCFF61;">Catálogo</a>
            </li>
            <li id="search-bar" class="col-lg-2" style="padding: 0;">
                <input type="search" name="searchbar" class="form-control" placeholder="Buscar producto"/>
            </li>
            <li id="search-button">
                <input class="btn btn-primary" type="submit" value="Buscar">
            </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
            {% if request.session.usuario %}
                <li class="nav-item active ">
                    <a class="nav-link" href="/perfil/{{request.session.usuario}}">Mi perfil</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link" href="/logout" style="color: #CCFF61;">Cerrar sesión</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/register" style="color: #CCFF61;">Registro</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login" style="color: #CCFF61;">Iniciar sesión</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
