<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <title>This is the Header</title>
</head>
<body>

<nav class="one-edge-shadow navbar navbar-light sticky-top navbar-expand-lg text-white">
    <a class="navbar-brand ms-3 text-dark" href="/">
        {% load static %}
        <img src="{% static 'Default_profile_pic.png' %}" style="width:90px;height:90px;">
    </a>
    <a class="nav-link" href="/cat">Anónimo</a>

    <!-- Add the necessary data-toggle and data-target attributes for collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Move the collapsible content outside of the form -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="display: contents;">
            <li class="nav-item active">
                <a class="nav-link text-center" href="/#"><img class="mx-auto d-block" src="{% static 'LOGO.jpg' %}" style="width:250px;height:90px;"><span class="sr-only">(current)</span></a>
            </li>
            <li id="search-bar" class="col-lg-2" style="padding: 0;">
                <input type="search" name="searchbar" class="form-control" placeholder="Buscar producto"/>
            </li>
            <li id="search-button">
                <input class="btn btn-primary" type="submit" value="Buscar">
            </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
            {% if request.session.cliente %}
                <li class="nav-item active ">
                    <a class="nav-link" href="/perfil/{{request.session.cliente}}">Mi perfil</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link" href="/logout" style="color: #CCFF61;">Cerrar sesión</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/signup" style="color: #CCFF61;">Registro</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login" style="color: #CCFF61;">Iniciar sesión</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
