{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    {% bootstrap_css %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">

    <title>Iniciar sesión</title>
</head>
<body class="body-login-register">
    <div class="row justify-content-center align-items-center" style="width: 100%;">
        <div class="col-12">
            <a class="nav-link" href="/#" style="display: table-row;"><img src="{% static 'LOGO.jpg' %}" class="logo-header"></a>
        </div>
        <div class="col-8" style="margin-top: 150px;">
            <div class="row justify-content-center align-items-center">
                <div class="container-login-register">
                    <div class="text-center col">
                    
                        <h3 class="text-login-register" style="text-align:center;font-size: 52px;" >INICIAR SESIÓN</h3>
                        <br>
                        <br>
                    </div>
                    <form action="/login/" method="POST">
                        
                        {% csrf_token %}
        
                        {% if error%}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="" class="text-login-register">NOMBRE DE USUARIO</label>
                            <input required name="nombreUsuario" value="{{values.nombreUsuario}}" 
                            class="input-login-register form-control-sm form-control" placeholder="Nombre de usuario">
                        </div>
        
                        <div class="form-group">
                            <label for="" class="text-login-register">CONTRASEÑA</label>
                            <input required name="contrasena" value="{{values.contrasena}}" placeholder="Contraseña"
                            class="input-login-register form-control form-control-sm" type="password" >
                        </div>
        
                        <button type="submit" class="button-login-register btn btn-sm btn-success col-md-5">ENTRAR</button>
        
        
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12">
            <a href="/register"> ¿No tienes una cuenta? Regístrate aquí</a>
        </div>
    </div>        
    
</body>
