{% extends 'base.html' %}
{% block title %}
  <title>Menú logros y estadísticas</title>
{% endblock title %}
{% block body_data %}
{% load static %}

    <div class="container" style=" margin: auto;align-self: center; margin-top: 25vh;">
        <div class="row justify-content-center">
            <div class="col-8">
                <a href="/logros" class="btn profile-button mb-4" style="width: 100%; align-self: center;font-size: larger;">LOGROS</a>
            </div>
            <div class="col-8">
                <a href="/estadisticas" class="btn profile-button mb-4" style="width: 100%; align-self: center;font-size: larger;margin-top: 5vh;">ESTADÍSTICAS</a>
            </div>
        </div>
    </div>

{% endblock body_data %}