{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    {% bootstrap_css %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">


    <title>Nuevo producto</title>
</head>
<body class="body-login-register">
    <div class="row justify-content-center align-items-center" style="width: 100%;">
        <div clas="col-12">
            <a class="nav-link" href="/" style="display: table-row;"><img src="{% static 'LOGO.jpg' %}" class="logo-header"></a>
        </div>
        <div class="col-8" style="margin-top: 150px;">
            <div class="row justify-content-center align-items-center">
                <div class="container-login-register ">
                    <div class="text-center col">
                    
                        <h3 class="text-login-register" style="text-align:center;font-size: 52px;" >NUEVO PRODUCTO</h3>
                        <br>
                        <br>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        
                        {% csrf_token %}
        
                        {% if errors%}
                            {% for error in errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{error}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <label for="" class="text-login-register">NOMBRE</label>
                            <input required name="nombre" id="" value="{{values.nombre}}" 
                            class="input-login-register form-control-sm form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="" class="text-login-register">DESCRIPCIÓN</label>
                            <input required name="descripcion" id="" value="{{values.descripcion}}" 
                            class="input-login-register form-control-sm form-control" placeholder="Información relevante sobre el producto">
                        </div>


                        <div class="form-group">
                            <label class="text-login-register">CATEGORIAS</label>
                            <div class="scrollable-options">
                                <ul class="list-unstyled">
                                    {% for categoria in categorias %}
                                    <li class="d-flex align-items-center">
                                        <input type="checkbox" name="categorias" value="{{categoria}}" id="categoria_{{ categoria.idCategoria }}">
                                        <label for="categoria_{{ categoria.idCategoria }}" class="mb-0 ml-2">{{ categoria.nombre }}</label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label for="" class="text-login-register">FOTO DEL PRODUCTO</label>
                            <input type="file" name="fotoProducto" id="fotoPerfilInput" class="input-login-register form-control form-control-sm" value="{{values.fotoProducto}}" placeholder="Sube tu foto">
                        </div>
        
                        <button type="submit" class="button-login-register btn btn-sm btn-success col-lg-5">SUBIR PRODUCTO</button>
        
        
                        
                    </form>
                    
                </div>
            </div> 
        </div>
    </div>        
</body>
