{% extends 'base.html' %}
{% block title %}
  <title>Perfil</title>
{% endblock title %}
{% block body_data %}
{% load static %}
    <div class="row profile-card">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="d-flex flex-column align-items-center">
                {% if usuario.fotoPerfil == None %}
                    <img src="{% static 'Default_profile_pic.png' %}" style="width:150px;height:auto;">                    
                {% else %}
                <img src="http://127.0.0.1:9000/django-backend-dev-public/{{usuario.fotoPerfil}}" style="width:150px;height:auto;">
                {% endif %}
                <p class="text-center" style="font-size: 30px;">{{usuario.nombreUsuario}}</p>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12" style="align-self: center;">
                <p><strong>Nombre:</strong> {{usuario.nombre}}</p>
                <p><strong>Apellidos:</strong> {{usuario.apellidos}}</p>
                <p><strong>Correo:</strong> {{usuario.correo}}</p>
                <p><strong>Ubicación:</strong> {{usuario.ubicacion}}</p>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12" style="align-self: center;">
            {% if request.session.usuario == usuario.nombreUsuario %}
                <div class="d-flex flex-column">
                    <a href="/editarPerfil/" class="btn profile-button mb-2">EDITAR PERFIL</a>
                    <a href="/solicitudesPrestamo/" class="btn profile-button mb-2">SOLICITUDES DE PRÉSTAMO</a>
                    <a href="/registroPrestamos" class="btn profile-button mb-4">REGISTRO DE PRÉSTAMOS</a>
                    <div id="borrarPerfil" class="btn delete-profile-button">ELIMINAR CUENTA</div>
                </div>
            {% else %}
                <div class="d-flex flex-column">
                    <div class="row" style="justify-content:space-between;margin-left: 5%;margin-right: 5%;margin-bottom: 5%;">
                        <a href=""><i class="fa-solid fa-trophy" style="font-size: 40px;"></i></a>
                        <i class="fa-regular fa-heart" style="font-size: 40px;"></i>
                    </div>
                    <a id='valorarUsuario' class="btn profile-button mb-4" >VALORAR</a>
                    <a href="" class="btn delete-profile-button" >REPORTAR</a>    
                </div>
            {% endif %}
        </div>
        
    </div>
    <h1 style="text-transform: uppercase;color: #03650A; text-align: center;"> PRODUCTOS DE {{usuario.nombreUsuario}}</h1>
    <div class="row justify-content-center" style="margin-bottom: 7.5%;width:100%" id="game-cards">
        {% for producto in productos %}
            <div class="col-lg-3 col-md-5 col-sm-11 product-card">      
                <div producto="card mx-productos mb-3" id={{producto.idProducto}}>
                    {% if producto.fotoProducto != None %}
                    <a href="/detallesProducto/{{producto.idProducto}}">
                        <img class="card-img-top" src="http://127.0.0.1:9000/django-backend-dev-public/{{producto.fotoProducto}}" alt="Foto {{MEDIA_URL}}{{producto.nombre}}">
                    </a>
                    {% else %}
                    <a href="/detallesProducto/{{producto.idProducto}}">            
                        <img class="card-img-top" src="{% static 'Default_producto_picture.png' %}" alt="Foto {{MEDIA_URL}}{{producto.nombre}}">
                    </a>
                    {% endif %}
                      <div class="card-body">
                    <a href="/detallesProducto/{{producto.idProducto}}">
                        <p class="card-title">{{producto.nombre}}</p>
                    </a>    
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <br>
    {% if valoraciones.count != 0 %}
        <div style="display: flex; justify-content: center;">
            <h1>OPINIONES SOBRE {{usuario.nombreUsuario}}</h1>
        </div>
    {% endif %}

    <div class="cuadro row justify-content-center" style="margin: 3px;margin-bottom: 5px;background-color: #d7ffb8;">
        {% for valoracion in valoraciones %}
            <div class="col-11 valoracion ">
                <div class="row detalle-valoracion">
                    <div class="col-3" style="padding-top: 5px;padding-bottom: 5px;">
                        <div class="row detalle-valoracion">
                            <div class="col-6">
                                <a href="/perfil/{{valoracion.idEmisor.nombreUsuario}}">
                                    <div class="image-container-valoracion">
                                        {% if valoracion.idEmisor.fotoPerfil == None %}
                                          <img src="{% static 'default_profile_pic.png' %}" class="rounded-image">
                                        {% else %}
                                          <img src="http://127.0.0.1:9000/django-backend-dev-public/{{valoracion.idEmisor.fotoPerfil}}" class="rounded-image">
                                        {% endif %}
                                    </div>
                                    <div class="col-6" style="align-self: center;">
                                    <p style="align-self: center;margin: 0; font-size: larger;font-weight: 500;color:black">{{valoracion.idEmisor.nombreUsuario}}</p>
                                    </div>
                                </a>    
                            </div>
                            <div class="col-6" style="display: flex;justify-content: center;">
                                <p style="font-size: xx-large;align-self: center;font-weight: 500;">{{valoracion.puntuacion}}/5</p>
                            </div>
                        </div>
                        <div class="row detalle-valoracion">
                            
                        </div>
                    </div>
                    <div class="col-9" style="padding-right: 0;">
                        <textarea spellcheck="false" style="width: 100%;height: -webkit-fill-available;vertical-align: top;resize: none;border-right:2px solid #03650A;border-left:2px solid #03650A;">{{valoracion.comentario}}</textarea>
                    </div>
                </div>                
            </div>
        {% endfor %}
    </div>    

    <script>
        document.getElementById('valorarUsuario').addEventListener('click', function () {
            window.open('/realizarValoracion/?id=u_{{usuario.idUsuario}}', 'formulariovaloracion.html', 'width=500,height=500');
        });
    </script>
    <script>
        document.getElementById('borrarPerfil').addEventListener('click', function () {
            window.open('/borrarPerfil/?id={{idUsuario}}', 'borrarPerfil.html', 'width=600,height=200');
        });
    </script>    
    
{% endblock body_data %}