{% extends 'base.html' %}
{% block title %}
  <title>Cosateca</title>
{% endblock title %}
{% block body_data %}
{% load static %}
    <div class="row justify-content-center" style="width:100%;">
        <h1 id="titulo-listado-chats">REGISTRO DE PRÉSTAMOS</h1>
    </div>
    <div class="container" id="container-registro-prestamos" style="margin-left: 5px; margin-right: 5px;border: 1px solid #065104; width:auto; margin: auto; text-align: center;overflow: auto; resize: none;">
    {% if prestamos %}   
        {% for prestamo in prestamos %}
        <style>
          .impar {
            background-color: #b6e5ac;
          }
          .par{
            background-color: #d8facc;
          }
        </style>
      <div class="cuadro-registro-prestamos row justify-content-center {% if forloop.counter|divisibleby:2 %}par{% else %}impar{% endif %}">
            <div class="elemento-lista-chats col-lg-3 col-md-3 col-sm-3 col-12" style="align-self: center;">
                {% if prestamo.idProducto.fotoProducto != None %}
                    <a href="/detallesProducto/{{prestamo.idProducto.idProducto}}">
                        <img class="card-img-top" style="width: 150px; height:auto; margin-top: 2.5%; margin-bottom: 2.5%" src="http://127.0.0.1:9000/django-backend-dev-public/{{prestamo.idProducto.fotoProducto}}" alt="Foto {{MEDIA_URL}}{{prestamo.idProducto.nombreproducto.nombre}}">
                    </a>
                {% else %}  
                    <a href="/detallesProducto/{{prestamo.idProducto.idProducto}}">         
                        <img class="card-img-top" style="width: 150px; height:auto;margin-top: 2.5%; margin-bottom: 2.5%;" src="{% static 'default_producto_picture.png' %}" alt="Foto {{MEDIA_URL}}{{producto.nombre}}">
                    </a>  
                {% endif %}
            </div>
            <div class="elemento-registro-prestamos-texto col-lg-9 col-md-9 col-sm-9 col-12" style="text-align: center;align-self: center;">
                {{ prestamo.idArrendador.nombre }} prestó  {{ prestamo.idProducto.nombre }} a {{ prestamo.idArrendatario.nombre }} del {{ prestamo.fechaInicio|date:"Y-m-d" }} al {{ prestamo.fechaFin|date:"Y-m-d" }}
            <!-- </div> -->
          </div>
      </div>

        {% endfor %}
    {% else %}
      <h2>Ups... no has participado en ningún préstamo aún</h1>
    {% endif %}  
      </div>
    </div>
{% endblock body_data %}