body {
    background-color: #d7ffb8;
    font-size: large;
    line-height: inherit;
}
body.body-login-register{
    background-color: #107F0E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

nav {
    background-color: #107F0E;
}
.nav-link {
    color: #CCFF61 !important;
}

.footer-icons a i {
    color: #CCFF61;
    width: auto;
    font-size: 45px;
    padding-top: 5%;
}

.nav-link.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-login-register {
    display: table-cell;
    background-color: #58A623;
    border: 3px solid #CCFF61;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.logo-header {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%  );
    width:250px;
    height:90px;
    margin-top: 15px;
}

.text-login-register {
    font-family: 'Lato', sans-serif;
    color: #065104;
    font-weight: 600;
}
.input-login-register {
    background-color: #A8F5A4;
    font-weight: 500;
}

.button-login-register {
    color: #CCFF61;
    background-color: #065104;
    border-radius: 35px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 42px;
}

.product-card {
    background-color: #FFFFFF;
    border: 2px solid #03650A;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    max-width:70%;

}

.card-img-top { 
    border: 2px solid #03650A;
    border-radius: 10px;
    margin-top: 5%;
    height: auto;
}

.card-text {
    color: black
}


.profile-card {
    background-color: #FFFFFF;
    border: 2px solid #03650A;
    border-radius: 10px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    justify-content: space-between;
    font-size: 23px;
  }

  .profile-button {
    background-color: #065104;
    border-radius: 35px;
    color: #CCFF61;
  }

  .delete-profile-button {
    background-color: black;
    border-radius: 35px;
    color: #CCFF61;
}

#fotoPerfilInput {
    padding-left: 0;
    height: auto;
}

.image-container {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

.image-container-valoracion {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

.rounded-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    border: 2px solid #065104;
    border-radius: 50%;
}

.cuadro {
    background-color: #FFFFFF;
    overflow: auto;
  }

.cuadro-registro-prestamos {
    background-color: #FFFFFF;
  }

@media screen and (max-width: 630px) {
    #container-listado-chats {
        max-height: 500px;
    }

    #container-registro-prestamos {
        max-height: 500px;
    }

    .image-container {
        width: 45px;
        height: 45px;
    }
    .logo-header {
        margin-top: 5px;
        width: 150px;
        height: auto;
    }
    .nombreUsuario-header {
        display: none;
    }
}

@media screen and (max-width: 1030px) and (min-width: 630px) {
    #container-listado-chats {
        max-height: 800px;
    }

    #container-registro-prestamos {
        max-height: 800px;
    }
}

@media screen and (min-width: 1030px) {
    #container-listado-chats {
        max-height: 450px;
    }

    #container-registro-prestamos {
        max-height: 450px;
    }
}

.container-detalles {
    background-color: #FFFFFF;
    border: 2px solid #03650A;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.texto-detalles {
    font-size: large;
    font-weight: bold;
}

.detalle-valoracion {
    margin:0;
}

.valoracion {
    border: 2px solid #03650A;
    padding-right: 0;
    background-color: #F5FFE9;
}

.scrollable-options {
    max-height: 100px;
    overflow-y: auto;
    display: flex;
    background-color: #A8F5A4;
    padding: 5px;
}

.scrollable-options li {
    display: flex;
    align-items: center;
}

/* 
ZONA DE PRUEBAS: Cuando añadas css de algo que estás probando, pruebalo debajo de 
este texto, una vez sea css definito, pásalo arriba.
*/

