body {
    background-color: #F5FFE9;
    font-size: large;
    line-height: inherit;
}
body.body-login-register{
    background-color: #107F0E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

nav {
    background-color: #107F0E;
}
.nav-link {
    color: #CCFF61 !important;
}

.footer-icons a i {
    color: #CCFF61;
    width: auto;
    font-size: 45px;
    padding-top: 5%;
}

.nav-link.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-login-register {
    display: table-cell;
    background-color: #58A623;
    border: 3px solid #CCFF61;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.logo-header {
    height: 90px;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%  );
}

.text-login-register {
    font-family: 'Lato', sans-serif;
    color: #065104;
    font-weight: 600;
}
.input-login-register {
    background-color: #A8F5A4;
    font-weight: 500;
}

.button-login-register {
    color: #CCFF61;
    background-color: #065104;
    border-radius: 35px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 42px;
}

.product-card {
    background-color: #FFFFFF;
    border: 2px solid #03650A;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    max-width:70%;

}

.card-img-top { 
    border: 2px solid #03650A;
    border-radius: 10px;
    margin-top: 5%;
    height: auto;
}

.card-text {
    color: black
}


.profile-card {
    background-color: #FFFFFF;
    border: 2px solid #03650A;
    border-radius: 10px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    justify-content: space-between;
    font-size: 23px;
  }

  .profile-button {
    background-color: #065104;
    border-radius: 35px;
    color: #CCFF61;
  }

  .delete-profile-button {
    background-color: black;
    border-radius: 35px;
    color: #CCFF61;
}

#fotoPerfilInput {
    padding-left: 0;
    height: auto;
}

.image-container {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}

.rounded-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cuadro {
    /* width: 60%; */
    /* height: 60%; */
    border: 1px solid #065104;
    background-color: #FFFFFF;
    overflow: auto;
  }

@media screen and (max-width: 630px) {
    #container-listado-chats {
        overflow: auto;
        height: 500px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 630px) {
    #container-listado-chats {
        overflow: auto;
        height: 800px;
    }
}

@media screen and (min-width: 1000px) {
    #container-listado-chats {
        overflow: auto;
        height: 450px;
    }
}

/* .elemento-lista-chats {
    border: 1px solid #065104;
  } */

/* 
ZONA DE PRUEBAS: Cuando añadas css de algo que estás probando, pruebalo debajo de 
este texto, una vez sea css definito, pásalo arriba.
*/

